*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: space-between;
    
}
.img{
    height: 30px;
}
@media screen and (min-width:180px) and (max-width:600px) {
    .top{
        /* display: flex;
        justify-content: space-between;
         */
         display: none;
    }
    .img{
        height: 30px;
        
    }
    
}




.image{
    background-image: url(/image/positive-busy-young-indian-employee-260nw-2315715605.webp);
    
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 250px;
    width: 100%;
}
.menu{
    font-size: 20px;
    padding: 30px;
    

}
.free{
    display: flex;
    justify-content: space-between;

}



.leading{
    font-size: 24px;
    font-weight: 800;
    padding-top: 200px;
    padding-left: 80px;
}
.enquire{
    font-size: 18px;
    margin-left: 100px;
    margin-top: 62px;
    padding: 10px;
    background-color: aqua;
    height: 40px;
    border-radius: 50px;
    width: 120px;
}

@media screen and (min-width:180px) and (max-width:600px) {
    .image{
        background-image: url(/image/positive-busy-young-indian-employee-260nw-2315715605.webp);
        
        background-repeat: no-repeat;
        
        background-attachment: fixed;
        background-size: cover;
        margin-bottom: 250px;
    }
    .menu{
        /* font-size: 20px; */
        /* padding: 30px; */
        display: none;
        
    
    }
    .free{
        display: flex;
        justify-content: space-between;
    
    }
    
    
    .leading{
        font-size: 24px;
        font-weight: 800;
        padding-top: 200px;
        padding-left: 80px;
    }
    .enquire{
        font-size: 18px;
        padding-left: 100px;
        padding-top: 62px;
        padding: 10px;
        background-color: aqua;
        height: 40px;
        border-radius: 50px;
        width: 140px;
    }
}






.enter{
    display: flex;
    font-size: 17px;
}
.courses{
    font-size: 30px;
    font-weight: 900;
    display: flex;

    justify-content: center;
}

.dca{
    height: 220px;
    width: 250px;
    margin: 0px;
    margin-right: 10px;
    padding-left: 20px;
    

}
.display{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.dcacourse{
    padding-left: 30px;
    padding-top: 40px;
    font-size: 23px;
    font-weight: 700;
}
.at{
    margin-left: 25px;
    padding-top: 10px;
}
.now{
    font-size: 18px;
    margin-left: 60px;
    margin-top: 62px;
    padding: 10px;
    background-color: aqua;
    height: 40px;
    border-radius: 50px;
    width: 120px;
}
@media screen and (min-width:180px) and (max-width:600px) {
    .enter{
        display: block;
        font-size: 17px;
    }
    .courses{
        font-size: 30px;
        font-weight: 900;
        display: flex;
    
        justify-content: center;
    }
    
    .dca{
        height: 220px;
        width: 350px;
        margin: 0px;
        padding-right: 10px;
        padding-left: 20px;
        
    
    }
    .display{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .dcacourse{
        padding-left: 30px;
        padding-top: 40px;
        font-size: 23px;
        font-weight: 700;
    }
    .at{
        width: 70%;
        padding-left: 0px;
        padding-top: 10px;
    }
    .now{
        font-size: 18px;
        padding-left: 60px;
        padding-top: 62px;
        padding: 10px;
        background-color: aqua;
        height: 40px;
        border-radius: 50px;
        width: 140px;
    }
}






.why{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.job{
    display: flex;
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding-left: 200px;
    padding-top: 50px;
}
.hat{
    height: 100px;
    display: flex;
    

}
@media screen and (min-width:180px) and (max-width:600px) {
    .why{
        font-size: 30px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
    
    .job{
        display: block;
    }
    
    .up{
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        padding-left: 0px;
        padding-top: 50px;
    }
    .hat{
        height: 100px;
        display: flex;
        
    
    }
    
}





.learn{
    display: flex;
    padding-top: 150px;
}
.data{

    height: 500px;
    width: 480px;
}
.abt{
    padding-top: 80px;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.text{
    font-size: 17px;
    width: 700px ;
    margin-left: 40px;
    padding-top: 30px;

}
@media screen and (min-width:180px) and (max-width:600px) {
    .learn{
        display: block;
        padding-top: 150px;
    }
    .data{
    
        height: 400px;
        width: 100%;
    }
    .abt{
        padding-top: 80px;
        font-size: 30px;
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    .text{
        font-size: 17px;
        width: 300px ;
        padding-left: 40px;
        padding-top: 30px;
    
    }
    
}







.gallery{
    padding-top: 100px;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.glry{
    height: 250px;
    width: 400px;
    padding-left: 50px;
    
    /* border-radius: 50px; */
}
.web{
    padding-left: 60px;
    padding-top: 50px;

}
@media screen and (min-width:180px) and (max-width:600px) {
    .gallery{
        padding-top: 100px;
        font-size: 30px;
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    .glry{
        height: 250px;
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
        
        /* border-radius: 50px; */
    }
    .web{
        padding-left: 0px;
        padding-top: 50px;
    
    }
}






.test{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 90px;    
     
}   
.they{
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
@media screen and (min-width:180px) and (max-width:600px) {
    .test{
        font-size: 30px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        padding-top: 90px;    
         
    }   
    .they{
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 100%;
        
    }
}






.contact{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 90px;    
     
}

.map{
    display: flex;
    padding-top: 50px;
}
.our{
    display:flex;
    flex-direction:column;
    font-size: 20px;
    font-weight: 700;
    margin-left: 80px;


}
.add{
    padding-top: 25px;
}
.gohana{
    font-size: 15px;
    
    font-weight: 100;
    margin-left: 40px;
    margin-top: 10px;
}
@media screen and (min-width:180px) and (max-width:600px) {
    .iframe{
        height: 400px;
        width: 100%;
    }
    .contact{
        font-size: 30px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        padding-top: 90px;    
         
    }
    
    .map{
        display: block;
        padding-top: 50px;
    }
    .our{
        display:flex;
        flex-direction:column;
        font-size: 20px;
        font-weight: 700;
        padding-left: 0px;
    
    
    }
    .add{
        padding-top: 25px;
    }
    .gohana{
        font-size: 15px;
        
        font-weight: 100;
        padding-left: 0px;
        margin-top: 10px;
    }
}






.txt{
    margin-top: 50px;
   margin-left: 60px;
}
.full{
    height: 34px;
    width: 280px;
    margin-bottom: 10px;
   
}




.last{
    display: flex;
    justify-content: space-between;
}
.om{
    font-size: 22px;
    font-weight: 800;
}



.copy{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

@media screen and (min-width:180px) and (max-width:600px) {
    
.txt{
    padding-top: 50px;
   padding-left: 0px;
}
.full{
    height: 34px;
    width: 280px;
    margin-bottom: 10px;
   
}




.last{
    display: flex;
    justify-content: space-between;
}
.om{
    font-size: 22px;
    font-weight: 800;
}



.copy{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}
}
